<div class="wrapper" id="<%= dom_id task %>">
  <div class="column task-detail-list">
    <h2>タスク詳細</h2>
    <div class="task-detail">
        <ul class="task-detail-items">
          <li class="detail-item no-wrap">
            <div class="detail-column-name">
              <h3 class="detail-name">
                <i class="fa-solid fa-calendar"></i>
                実施予定日
              </h3>
              <h3>
                <%= task.start_date %>
              </h3>
            </div>
          </li><br>
          <li>
            <div class="detail-column-name">
              <h3 class="detail-name">
                <i class="fa-regular fa-calendar-check"></i>
                期限
              </h3>
              <h3>
                <%= task.end_date %><br>
              </h3>
            </div>
          </li><br>
          <li>
            <div class="detail-column-name">
              <h3 class="detail-name">
                <i class="fa-solid fa-link"></i>
                  リンク
              </h3>
              <h3>
                <%= task.url %><br>
              </h3>
            </div>
          </li><br>
          <li>
            <div class="detail-column-name">
              <h3 class="detail-name">
                <i class="fa-regular fa-image"></i>
                添付
              </h3>
              <h3>
                <%= task.image %><br>
              </h3>
            </div>
          </li><br>
          <li>
            <div class="detail-column-name">
              <h3 class="detail-name">
                <i class="fa-regular fa-note-sticky"></i>
                メモ
              </h3>
              <h3>
                <%= task.note %><br>
              </h3>
            </div>
          </li><br>
        </ul>
    </div>
  </div>

  <div class="column complete-list">
    <h2>サブタスク</h2>
    <%
=begin%>
 <div class="complete-tasks">
      <% @subtasks.each do |subtask| %>
        <ul>
          <li>
            <div class="subtask">
              <h3>
                <i class="fa-regular fa-circle"></i>
                <%= link_to subtask.name, subtask %>
              </h3><br>
            </div>
            <div class="second-line">
              <i class="fa-solid fa-calendar"></i>
                <%= subtask.start_date %>
              <i class="fa-regular fa-calendar-check"></i>
                <%= subtask.end_date %>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  </div> 
<%
=end%>

</div>
