<div class="wrapper" id="<%= dom_id @task %>">
  <div class="column task-detail-list">
    <h2>タスク詳細</h2>
    <div class="task-detail">
      <ul class="task-detail-items">
        <%# タスク名　%>
        <li class="detail-item no-wrap">
          <div class="detail-column">
            <h3 class="detail-name">
              <i class="fa-solid fa-file-signature"></i>
              タスク名
            </h3>
            <h3>
              <%= @task.name %>
            </h3>
          </div>
        </li><br>
        <%# 完了ステータス　%>
        <li class="detail-item no-wrap">
          <div class="detail-column">
            <h3 class="detail-name">
              <i class="fa-solid fa-check"></i>
              完了ステータス
            </h3>
            <h3>
              <%= @task.complete_status %>
            </h3>
          </div>
        </li><br>
        <%# 実施予定日　%>
        <li class="detail-item no-wrap">
          <div class="detail-column">
            <h3 class="detail-name">
              <i class="fa-solid fa-calendar"></i>
              実施予定日
            </h3>
            <h3>
              <%= @task.start_date %>
            </h3>
          </div>
        </li><br>
        <%# 期限　%>
        <li class="detail-item no-wrap">
          <div class="detail-column">
            <h3 class="detail-name">
              <i class="fa-regular fa-calendar-check"></i>
              期限
            </h3>
            <h3>
              <%= @task.end_date %><br>
            </h3>
          </div>
        </li><br>
        <%# リンク %>
        <li class="detail-item no-wrap">
          <div class="detail-column">
            <h3 class="detail-name">
              <i class="fa-solid fa-link"></i>
              リンク
            </h3>
            <h3>
              <%= @task.url %><br>
            </h3>
          </div>
        </li><br>
        <%# メモ %>
        <li class="detail-item no-wrap">
          <div class="detail-column">
            <h3 class="detail-name">
              <i class="fa-regular fa-note-sticky"></i>
              メモ
            </h3>
            <h3>
              <%= @task.note %><br>
            </h3>
          </div>
        </li><br>
      </ul>
      <div class="button-area">
        <div class="edit-button">
          <%= button_to "編集する", edit_task_path,  method: :get %>
        </div>
        <div class="delete-button">
          <%= button_to "削除する", @task, method: :delete %>
        </div>
      </div>
    </div>
  </div>

  <div class="column complete-list">
    <h2>サブタスク詳細</h2>
    <% @subtasks.each do |subtask| %>
      <div class="subtask-detail">
        <ul class="subtask-detail-items">
          <%# サブタスク名 %>
          <li class="detail-item no-wrap">
            <div class="detail-column">
              <h3 class="detail-name">
                <i class="fa-solid fa-file-signature"></i>
                サブタスク名
              </h3>
              <h3>
                <%= subtask.name_subtask %>
              </h3>
            </div>
          </li><br>
          <%# 完了ステータス_サブタスク %>
          <li class="detail-item no-wrap">
            <div class="detail-column">
              <h3 class="detail-name">
                <i class="fa-solid fa-check"></i>
                完了ステータス
              </h3>
              <h3>
                <%= subtask.complete_status_subtask %>
              </h3>
            </div>
          </li><br>
          <%# 実施予定日_サブタスク %>
          <li class="detail-item no-wrap">
            <div class="detail-column">
              <h3 class="detail-name">
                <i class="fa-solid fa-calendar"></i>
                実施予定日
              </h3>
              <h3>
                <%= subtask.start_date_subtask %>
              </h3>
            </div>
          </li><br>
          <%# 期限_サブタスク %>
          <li class="detail-item no-wrap">
            <div class="detail-column">
              <h3 class="detail-name">
                <i class="fa-regular fa-calendar-check"></i>
                期限
              </h3>
              <h3>
                <%= subtask.end_date_subtask %><br>
              </h3>
            </div>
          </li><br>
        </ul>
      </div>
    <% end %>
  </div>
</div>
