<%= form_with(model: subtask) do |f| %>
  <% if subtask.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(subtask.errors.count, "error") %> prohibited this subtask from being saved:</h2>

      <ul>
        <% subtask.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name, style: "display: block" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :complete_status, style: "display: block" %>
    <%= f.check_box :complete_status %>
  </div>

  <div>
    <%= f.label :start_date, style: "display: block" %>
    <%= f.date_field :start_date %>
  </div>

  <div>
    <%= f.label :end_date, style: "display: block" %>
    <%= f.date_field :end_date %>
  </div>

  <div>
    <%= f.label :task_id, style: "display: block" %>
    <%= f.text_field :task_id %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
