<div id="<%= dom_id subtask %>">
  <p>
    <strong>Name:</strong>
    <%= subtask.name %>
  </p>

  <p>
    <strong>Complete status:</strong>
    <%= subtask.complete_status %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= subtask.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= subtask.end_date %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= subtask.task_id %>
  </p>

</div>
