<%
=begin%>
 <div class="subtask-detail" id="<%= dom_id subtask %>">
  <ul class="subtask-detail-items">
    <%# 完了ステータス_サブタスク %>
    <li class="detail-item no-wrap">
      <div class="detail-column-name">
        <h3 class="detail-name">
          完了ステータス_サブタスク
        </h3>
        <h3>
          <%= subtask.complete_status_subtask %>
        </h3>
      </div>
    </li><br>
    <%# サブタスク名 %>
    <li class="detail-item no-wrap">
      <div class="detail-column-name">
        <h3 class="detail-name">
          <i class="fa-solid fa-list-check"></i>
          サブタスク名
        </h3>
        <h3>
          <%= subtask.name_subtask %>
        </h3>
      </div>
    </li><br>
    <%# 実施予定日_サブタスク %>
    <li class="detail-item no-wrap">
      <div class="detail-column-name">
        <h3 class="detail-name">
          <i class="fa-solid fa-calendar"></i>
          実施予定日
        </h3>
        <h3>
          <%= subtask.start_date_subtask %>
        </h3>
      </div>
    </li><br>
    <%# 期限_サブタスク %>
    <li class="detail-item no-wrap">
      <div class="detail-column-name">
        <h3 class="detail-name">
          <i class="fa-regular fa-calendar-check"></i>
          期限
        </h3>
        <h3>
          <%= subtask.end_date_subtask %><br>
        </h3>
      </div>
    </li><br>
  </ul>
</div> 
<%
=end%>