<!DOCTYPE html>
<html lang="ja">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.0/css/all.css">
  <head>
    <title>タスクリスト</title>
    <h1 class="task-list-title">
      <i class="fa-solid fa-list-ul"></i>
      <%= link_to "タスクリスト",    root_path %>
    </h1>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
